@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

.main{
    padding: 66px 7% 0% 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    z-index: 0;
}

h1{
    font-size: 56px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.content{
    padding: 0px 0% 0% 7%;
    border-left: solid #1e5c9ed3 2px;
    z-index: -5;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(20.0deg) }
    20% { transform: rotate(-16.0deg) }
    30% { transform: rotate(20.0deg) }
    40% { transform: rotate(-8.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

.load-page{
    height: 80vh;
    /* background-image: linear-gradient(to bottom, rgb(24, 33, 43), #1e5c9ed3, rgb(24, 33, 43)); */
}

.page{
    height: 88vh;
    /* background-image: linear-gradient(to bottom, rgb(24, 33, 43), rgb(18, 54, 92, 0.827)); */
}

.foot-page{
    height: 55vh;
}

#container {
    right: 15vw;
    position: absolute;
    width: 400px;
    height: 400px;
    margin: auto;
    float: right;
}

.about-me{
    display: flex;
}

.my-pic{
    flex: 9;
}

.bio{
    flex: 24;
}

.round-pic{
    border-radius: 50%;
    width: 225px;
    border: 4px solid #1e5c9ed3;
}

/*
#1e5c9ed3
*/