  .main{
    padding: 0% 0% 0% 5%;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #171717;
    font-family: "Georgia";
    
  }

  .navbarpad{
    padding: 0% 0% 0% 5%;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;

    border: none;
    border-right: solid rgb(195, 192, 200) 1px;
    border-bottom: solid rgb(195, 192, 200) 1px; /*!@#$%^&*()___________________)(*&^%$#@!*/
    border-radius: 25px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    border-right: solid rgb(195, 192, 200) 1px;
    border-bottom: solid rgb(195, 192, 200) 1px; /*!@#$%^&*()___________________)(*&^%$#@!*/
    border-radius: 25px;

    font-size: 16px;  
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(65, 36, 116);
  }
  
  .dropdown-content {
    border: none;
    border-bottom: solid rgb(195, 192, 200) 1px; /*!@#$%^&*()___________________)(*&^%$#@!*/
    border-radius: 0px;
    border-bottom-left-radius: 25px;

    display: none;
    position: absolute;
    background-color: #171717;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    border: none;
    border-bottom: solid rgb(195, 192, 200) 1px; /*!@#$%^&*()___________________)(*&^%$#@!*/
    border-radius: 0px;
    border-bottom-left-radius: 25px;


    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(92, 51, 162);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .arrow-down {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -o-transform: rotate(405deg);
     transform: rotate(405deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;
  }

  .arrow-down{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
     transform: rotate(-135deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;
  }

  /*
  Colors:

  twilight purple or smth............... rgb(92, 51, 162);
  a lil darker purple................... rgb(65, 36, 116);

  dark grey............................. #171717;
  a lil lighter grey.................... #252525;
  very light grey....................... rgb(195, 192, 200);

  pink ish red.......................... #bd1139;
  idk man, red on the darker side......... #b60024;


  */