@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

.main{
    padding: 66px 7% 0% 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    z-index: 0;
}

h1{
    text-align: center;
    font-size: 56px;
    padding-bottom: 20px;
}

h2{
    color: #1e5c9e;
    font-size: 28px;
}

.content{
    padding: 0px 7% 0% 7%;
    border-left: solid #1e5c9e 2px;
}

.img-wrapper{
    font-size: 13px;
    line-height: 25px;
}

.img{
    border: solid #1e5c9e 2px;
    border-radius: 15px;
}

.tooltip{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.tooltip-word{
    border-bottom: dotted white 2px;
}

.tooltip .tooltip-text{
    position: absolute;
    visibility: hidden;
    z-index: 0;
    width: 800px;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
    position: absolute;
}

.arr-arraylist, th ,td{
    border: solid #1e5c9e 2px;
    border-collapse: collapse;
}

th{
    width: 30vw;
    background-color: #1e5c9e;
}

td{
    padding: 15px;
}

.subtext{
    padding-top: 5px;
    font-size: 12px;
    line-height: 20px;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1e5c9e;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  .projects{
    padding: 66px 6% 0% 6%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    z-index: 0;
  }

  .project-row{
    width: 90vw;
    height: 80vh;
  }

  .project-wrapper{
    width: 28vw;
    height: 80vh;
    float: left;
    padding: 12.5px;
  }

  .project{
    border: 2px solid black;
    border-radius: 25px;
    width: 25vw;
    height: 73vh;
    padding: 1vw;
    background-color: #1e5c9e;
  }

 .project:hover{
    transform:scale(1.05);
}

.double-pic{
    width: 12.33vw;
    height: 30.25vh;
}

#spodissey{
    width: 25vw;
    border-radius: 25px;
}

#shmup{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 12.33vw;
    height: 30.25vh;
}

#jumpy{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 12.33vw;
    height: 30.25vh;
}

#metropolis{
    width: 25vw;
    height: 30.25vh;
    border-radius: 25px;
}

#graphingcalc{
    width: 25vw;
    height: 30.25vh;
    border-radius: 25px;
}

.biblio{
    padding: 66px 7% 0% 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    z-index: 0;
    line-height: 45px;
    text-align: center;
}