@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

.main{
    padding: 66px 7% 0% 7%;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    
}

h1{
    text-align: center;
    font-size: 56px;

    padding-bottom: 20px;
}

h2{
    color: #1e5c9e;
    font-size: 28px;
}

.content{
    padding: 0px 7% 0% 7%;
    border-left: solid #1e5c9e 2px;
}

.img{
    border: solid #1e5c9e 2px;
    border-radius: 15px;
}